@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* Estilos generales */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    font-family: 'Playfair Display', serif;
    background-color: blanchedalmond;
}

a {
    text-decoration: solid;
    color: #58391c;
    font-size: 18px;
}

#logo {
    max-height: 70px;
}

#piePagina {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    position: fixed;
    box-shadow: 6px 6px 10px #f7d9d9;
    background-color: #fcc2c2;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.mail,
.gif,
.link,
.instragram {
    height: 50px;
    width: 50px;
    margin: 30px 20px;
}


nav,
ul,
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.menu, li {
    margin-left: 20px; /* Espacio entre los elementos del menú */
    margin-right: 10px;
  }
  
  .menu, li:first-child {
    margin-left: 0; /* Elimina el espacio en el primer elemento del menú */
  }

nav,
ul,
.menu,
li {
    margin-left: 1rem;
}


.circulo {
    width: 300px;
    /* Define el ancho deseado para la imagen */
    height: 300px;
    /* Define la altura deseada para la imagen */
    border-radius: 70%;
    /* Crea el círculo redondeando los bordes */
    overflow: hidden;
    /* Recorta el contenido que se sale del círculo */
    position: relative;
    z-index: -1;

}

.circle-image {
    position: relative;
    top: 0;
    /* La imagen estará en la parte superior del contenedor */
    left: 0;
    /* La imagen estará en la parte izquierda del contenedor */

}


.theme-switcher,
.burger-icon {
    
    cursor: pointer;
    position: relative;
    top: 20px;
}

  /* Estilos para el icono de sol en el tema oscuro */
  .dark-theme .theme-switcher i {
    color: #f39c12; /* Color de sol en el tema oscuro */
  }

.theme-switcher {
    margin-right: 1rem;
    width: min-content;
    color: #f1c40f; /* Color amarillo del sol */
    background: transparent;
}

/* Main content */
main {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

/* Estilos para el botón Descargar Mi CV */
.cv-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    /* Puedes ajustar el margen superior según sea necesario */
}

.boton {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color:#58391c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.boton a {
    color: #fff;
    text-decoration: none;
}



.content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    padding: 2rem;
    margin-top: 120px;
}


.about-me h2 {
    margin-bottom: 1rem;
}

.cv-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

p {
    text-align: justify;
    margin: 2%;
    margin-left: 60px;
    margin-right: 60px;
}


h1,
h2 {
    text-align: center;
}

.miList {
    position: relative;
    margin-left: -20px;
}
  
.parteBoton {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    outline: none;
    /* Elimina el remarcado del botón */
    border: none;
    /* Elimina el borde del botón */
}

.boton {
    text-align: center;
    display: block;
    width: 180px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 50;
    border-radius: 10px;
    height: 50px;
    align-content: center;
    background-color: #333;
    outline: none;
    /* Elimina el remarcado del botón */
    border: none;
    /* Elimina el borde del botón */

}


#inicio,
#contacto {
    height: 100px;
    padding: 50px;
    scroll-margin-top: 60px;
    /* Añadir un margen superior para evitar que el header cubra el contenido */
}

.miFigura, h1 {
    animation: fadeInLeft 1s;
}

/* Pie de página */
footer {
    background-color: #fcc2c2;
    color: #58391c;
    text-align: center;
    padding: 1rem;
    text-decoration: solid;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 1rem;
}

/* Estilos para el tema oscuro */
body.dark-theme {
    background-color: #333;
    color: #f7f7f7;
}

.dark-theme header,
.dark-theme footer {
    background-color: #f7f7f7;
    color: #333;
}

.dark-theme a {
    color:#58391c;
}

.dark-theme button {
    background-color:#eee3da;
}

.dark-theme .theme-switcher {
    background-color:transparent;
}

.logo {
    width: 60%;
    height: 80%;
    width: 150px;
    height: 80px;
    left: 40px;
}

#moon-icon {
    display: none;
  }

.nav {
    display: flex;
    align-items: center;
    width: 25%;
}

header .encabezadoSup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: auto;
}

.menuprincipal {
    display: none;
}


/* Estilos para la hamburguesa en versión móvil */

    .burger-icon {
        width: 30px;
        height: 3px;
        background-color: #333;
        cursor: pointer;
        display: none; /* Debería estar "none" en estilos por defecto */
        margin-top: 10px;
        flex-direction: column;
        cursor: pointer;
    }
    


/* Estilos para las líneas de la hamburguesa */
.burger-icon::before,
.burger-icon::after {

    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #59391d;
    position: relative;
    top: 11px;
}

.burger-icon::before {
    margin-bottom: 6px;
}

.burger-icon::after {
    margin-top: 6px;
}

/* Estilos para versión móvil */
@media (max-width: 750px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        display: none;
        flex-direction: column;
    }

    nav.show-menu {
        display: flex;
    }


    nav ul {
        flex-direction: column;
    }

    .content {
        flex-direction: column;
    }

    .mostrar-menu {
        display: block;
    }

    .circle-image {
        margin-right: 0;
        margin-bottom: 2rem;

    }

    .menu {
        display: block;
        text-align: center;
    }

    .menu.show-menu {
        display: flex;
    }
    /* Agregar margen superior a cada elemento li */
    .menu li {
        margin-top: 20px; /* Puedes ajustar este valor según tu preferencia */
    }


    /* Estilos para la hamburguesa en versión móvil */
    .burger-icon {
        display: block;
    }

    /* Oculta las líneas de la hamburguesa si el menú está abierto */
    nav.show-menu .burger-icon::before,
    nav.show-menu .burger-icon::after {
        display: none;
    }


}

  .fa-solid {
margin-right:-100px; /* Ajusta el valor según tu preferencia */
  }


  .dark-theme {
    background-color: #333;
    color: #fff;
}

.rotate {
    transform: rotate(180deg);
}


/* Estilos para el menú en versión móvil */
@media (max-width: 768px) {
    /* ... (otros estilos) ... */

}


